<mat-card>
    <div id="quick-grade-form">
        <h1>Quick grade</h1>
        <form [formGroup]="quickGradeForm" (ngSubmit)="submitCode()">
            <mat-form-field appearance="fill">
              <mat-label>Computer language</mat-label>
              <mat-select formControlName="lang_id">
                <mat-option [value]="lang.id" *ngFor="let lang of computerLanguages">{{lang.name}}</mat-option>
              </mat-select>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
              <mat-label>Source code</mat-label>
              <textarea matInput formControlName="source_code" class="source-code" (keydown)="onKey($event)"></textarea>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Time limit (ms)</mat-label>
                <input matInput type="text" formControlName="time_limit">
                <mat-error *ngIf="f.time_limit.invalid">
                    <ng-container *ngIf="f.time_limit.errors.required">
                        Task time limit is required.
                    </ng-container>
                    <ng-container *ngIf="f.time_limit.errors.min">
                        Task time limit must be greater than or equal to zero.
                    </ng-container>
                    <ng-container *ngIf="f.time_limit.errors.max">
                        Task time limit must be less than or equal to 10000 (10 s).
                    </ng-container>
                </mat-error>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Memory limit (B)</mat-label>
                <input matInput type="text" formControlName="memory_limit">
                <mat-error *ngIf="f.memory_limit.invalid">
                    <ng-container *ngIf="f.memory_limit.errors.required">
                        Task memory limit is required.
                    </ng-container>
                    <ng-container *ngIf="f.memory_limit.errors.min">
                        Task memory limit must be greater than or equal to zero.
                    </ng-container>
                    <ng-container *ngIf="f.memory_limit.errors.max">
                        Task memory limit must be less than or equal to 268435456 (256 MB).
                    </ng-container>
                </mat-error>
            </mat-form-field>
    
            <div class="tc-group">
                <mat-form-field appearance="fill" class="tc-input">
                    <mat-label>Input</mat-label>
                    <textarea matInput formControlName="input" class="tc-input-control"></textarea>
                </mat-form-field>
        
                <mat-form-field appearance="fill" class="tc-output">
                    <mat-label>Expected output</mat-label>
                    <textarea matInput formControlName="expected_output" class="tc-output-control"></textarea>
                </mat-form-field>
            </div>
            
            <div class="submit-button-container">
              <button mat-raised-button color="primary" type="submit" [disabled]="quickGradeForm.invalid || processingForm"><mat-icon>code</mat-icon> Grade</button>
            </div>
        </form>
    </div>
    <section class="output-container" *ngIf="grade">
        <h2>Grading output</h2>
        <h3>Status: <span [matTooltip]="grade.status==='AC' ? 'Accepted' : (grade.status==='RTE' ? 'Runtime Error' : (grade.status==='WA' ? 'Wrong answer' : (grade.status==='CE' ? 'Compilation Error' : (grade.status==='MLE' ? 'Memory Limit Exceeded' : (grade.status==='TLE' ? 'Time Limit Exceeded' : 'Undefined')))))">{{grade.status}}</span></h3>
        
        <ng-container *ngIf="grade.error">
            <h3>Message:</h3>
            <div class="output">{{grade.error}}</div>
        </ng-container>
        
        <h3>Execution time (s): {{grade.executionTime / 1000.0}}</h3>
        <h3>Execution memory (MiB): {{grade.executionMemory / 1024.0 / 1024.0}}</h3>
        
        <h3>Output: <span *ngIf="!grade.output">None</span></h3>
        <div *ngIf="grade.output" class="output">{{grade.output}}</div>
    </section>
</mat-card>
