<mat-toolbar color="primary" >
    <button mat-button class="iconButton menuButton" (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
    <div class="logo"></div>
    <h3>Online Judge</h3>

    <span class="spacer"></span>

    <!--<button mat-icon-button class="iconButton"><mat-icon>search</mat-icon></button>-->

    <button mat-button [matMenuTriggerFor]="menu" class="userButton">
        <div class="avatar"></div>
        <h3>{{currentUser.username}}</h3>
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="before">
        <a mat-menu-item [routerLink]="['/auth']">
            <mat-icon>face</mat-icon>
            <span>My Profile</span>
        </a>
        <a mat-menu-item [routerLink]="['/auth']">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </a>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container class="container">

    <mat-sidenav #drawer class="sidenav" mode="side" opened>
        <div class="sidenav-inner">
            <a mat-button matTooltipPosition="after" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/tasks']" matTooltip="Tasks"><mat-icon>dashboard</mat-icon></a>
            <a mat-button matTooltipPosition="after" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/submissions']" matTooltip="Submissions"><mat-icon>fact_check</mat-icon></a>
            <a mat-button matTooltipPosition="after" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/profile', currentUser.id]" matTooltip="My Profile"><mat-icon>face</mat-icon></a>
            <!--
            <div class="spacer"></div>
            <a mat-button matTooltipPosition="after" matTooltip="Settings"><mat-icon>settings</mat-icon></a>
            -->
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="sidenav-content" cdkScrollable>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
