<div class="wrapper">

    <mat-card class="profile" *ngIf="user">
      <a mat-icon-button routerLink="." class="settings"><mat-icon>settings</mat-icon></a>
      <mat-progress-bar mode="determinate" value="40" class="avg"></mat-progress-bar>
  
      <img src="/assets/images/avatar{{user.id % 8}}.svg" class="userImage">
      <div class="creds">
        <h3>{{user.username}}</h3>
        <h3 class="mail">{{user.email}}</h3>
      </div>
      <div class="separator"></div>
  
      <div class="avgScore">
        <mat-icon>star</mat-icon>
        <mat-icon>star_half</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
        <mat-icon>star_border</mat-icon>
      </div>
  
      <div class="separator"></div>
  
      <div class="infoWrap">
        <div class="infoLine">
          <div class="infoTitle">Created tasks</div>
          <div class="infoValue">17</div>
        </div>
        <div class="infoLine">
          <div class="infoTitle">Solved tasks</div>
          <div class="infoValue">84</div>
        </div>
        <div class="infoLine">
          <div class="infoTitle">Submissions</div>
          <div class="infoValue">35</div>
        </div>
      </div>
  
      <div class="separator"></div>
      <div class="contact">
        <div class="social"></div>
        <div class="social"></div>
        <div class="social"></div>
        <div class="social"></div>
      </div>
  
    </mat-card>
  
    <mat-tab-group class="stats">

      <mat-tab label="Solved tasks">
        <mat-card class="tableWrapper">
          <table id="solved-tasks-table" #solvedTasksTable="matSort" mat-table [dataSource]="solvedTasksDataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task name</th>
                <td mat-cell *matCellDef="let element"><a [routerLink]="['/task', element.id]">{{element.name}}</a></td>
            </ng-container>
  
            <ng-container matColumnDef="timeLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time Limit (s)</th>
                <td mat-cell *matCellDef="let element">{{element.timeLimit / 1000.0}}</td>
            </ng-container>
            
            <ng-container matColumnDef="memoryLimit">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory Limit (MB)</th>
                <td mat-cell *matCellDef="let element">{{element.memoryLimit / 1024.0 / 1024.0}}</td>
            </ng-container>

            <ng-container matColumnDef="user.username">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created by</th>
                <td mat-cell *matCellDef="let element"><a [routerLink]="['/profile', element.user.id]">{{element.user.username}}</a></td>
            </ng-container>

            <ng-container matColumnDef="timeSubmitted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted at</th>
                <td mat-cell *matCellDef="let element">{{element.timeSubmitted | date: 'dd. MMM yyyy. HH:mm'}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedSolvedTasksColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSolvedTasksColumns;"></tr>
          </table>
  
          <mat-paginator #solvedTasksPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </mat-card>
      </mat-tab>
  
      <mat-tab label="Submissions">
        <mat-card class="tableWrapper">
          <table id="submissions-table" #submissionTable="matSort" mat-table [dataSource]="submissionDataSource" matSort>
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                <td mat-cell *matCellDef="let element">{{element.id}}</td>
            </ng-container>
  
            <ng-container matColumnDef="task.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Task</th>
                <td mat-cell *matCellDef="let element"><a [routerLink]="['/task', element.task.id]">{{element.task.name}}</a></td>
            </ng-container>

            <ng-container matColumnDef="computerLanguage.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Language</th>
                <td mat-cell *matCellDef="let element">{{element.computerLanguage.name}}</td>
            </ng-container>
  
            <ng-container matColumnDef="executionTime">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Time (s)</th>
                <td mat-cell *matCellDef="let element">{{element.executionTime / 1000.0}}</td>
            </ng-container>
            
            <ng-container matColumnDef="executionMemory">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Memory (MB)</th>
                <td mat-cell *matCellDef="let element">{{element.executionMemory / 1024.0 / 1024.0}}</td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                <td mat-cell *matCellDef="let element" class="highlight">{{element.status}}</td>
            </ng-container>

            <ng-container matColumnDef="timeSubmitted">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Submitted at</th>
                <td mat-cell *matCellDef="let element">{{element.timeSubmitted | date: 'dd. MMM yyyy. HH:mm'}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedSubmissionColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSubmissionColumns;" [ngClass]="{'accepted': row.status==='AC' }"></tr>
          </table>
  
          <mat-paginator #submissionPaginator [pageSizeOptions]="[10, 25, 100]"></mat-paginator>
        </mat-card>
  
      </mat-tab>

    </mat-tab-group>
</div>
